@import './reset.css';
/* poppins-regular - latin */
@font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* poppins-500 - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   src: local(''),
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* poppins-600 - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   src: local(''),
        url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* poppins-700 - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* base styles */
 body{
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 14px;
   color: black;
   background-color: #f4f4f4;
 }
 .container{
   max-width: 1230px;
   padding: 0 30px;
   margin: 0 auto;
 }
 a{
   color: #000;
   transition: .3s;
 }
 a:hover{
   color: #ffffff;
   border-bottom:3px solid #FDA300;
 }
 .title-1 {
   font-size: 34px;
   font-weight: 600;
}
 /* header styles */
.header{
   padding-top: 46px;
   background-color:#8c9bd5 ;
}
.header-nav{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-bottom: 76px;
}
.logo{
   font-weight: 700;
   font-size: 32px;
   padding-right: 12px;
   padding-bottom: 3px;
   position: relative;
   line-height: 1;
}
.logo:hover{
   border-bottom: none;
}
.logo::after{
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   display: block;
   width: 8px;
   height: 8px;
   background-color: #FDA300;
   border-radius: 50%;
}
/* nav */
.nav-list{
   display: flex;
   column-gap: 50px;
   font-style: 14px;
   font-weight: 500;
}
.header-burger{
   display: none;
}
/* header content */
.header-row{
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}
.header-content{
   max-width: 500px;
   padding-top: 124px;
}
.header-heading{
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 44px;
}
.header-content p{
   line-height: 2;
}
.header-img img{
   max-width: 100%;
   width: 374px;
   object-fit: cover;
   height: 494px;
   margin-bottom: 15px;
}
/* servise */
.services{
   padding: 90px;
}
.services-row{
   display: flex;
   column-gap: 30px;
}
.services-card{
   width: 33.3%;
}
.service-card-title{
   text-transform: uppercase;
   font-weight: 600;
   font-size: 24px;
   margin-bottom: 10px;
}
.service-card-img{
   margin-bottom: 30px;
}
.services-card p{
   line-height: 2;
}
.portfolio {
   background-color: #8c9bd5;
   padding: 90px 0;
}

.portfolio-title {
   text-align: center;
   margin-bottom: 70px;
}
.title-1 {
   font-size: 34px;
   font-weight: 600;
}
.project {
   text-align: center;
}
.project+.project{
   margin-top: 110px;
}
.project-img {
   margin-bottom: 40px;
   max-width: 490px;
   width: 100%;
}
.project-title {
   font-size: 18px;
}
/* footer */
.contacts {
   padding: 90px 0;
   text-align: center;
}
.contacts-title {
   margin-bottom: 40px;
}
.contacts-content {
   font-size: 18px;
   margin-bottom: 40px;
}
.contacts-button {
   margin-bottom: 80px;
}
.button {
   display: inline-block;
   padding: 7px 22px;
   border-radius: 30px;
   color: #f1f1f1;
   font-size: 18px;
   background-color: #000;
   transition: .3s;
}
.button:hover,.button:focus{
   background-color: rgb(232, 114, 114);
   color: #f1f1f1;
   padding: 9px 24px;
}
.contacts-social {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 20px;
   text-align: center;
   margin-bottom: 40px;
}
.contacts-footer {
   color: #828282;
   font-weight: 400;
}
.contacts-social img{
   width: 100px;
   height: 100px;
}
.contacts-social a:hover{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #ffd88b;
}
.contacts-social a{
   transition: .3s;
}